   
          <section class="home-slider simple-head" style="background-image:url(image/{{ banners[0].image }})" data-stellar-background-ratio="0.5"> 
            <!-- Container Fluid -->
            <div class="container-fluid">
              <div class="position-center-center"> 
                <!-- Header Text -->
                <div class="col-lg-7 col-lg-offset-5">
                  <h1 class="extra-huge-text">{{ banners[0].title }}
                  </h1>
                  <div class="text-center"> <a href="{{ banners[0].link }}" class="btn btn-round margin-top-40">SHOP NOW</a> </div>
                </div>
          </section>
